
.header {
    background: lightblue;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;

}

.header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: black;
    font-size: 4rem;
}