
.navbar {
    background: purple; 
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;

}

.links {
    width: 100px;
}

.navbar a {
    color: white;
    font-size: 1.3rem;
    margin: 5px;
    line-height: 3;
    text-decoration: none;
    border-radius: 10px; /* Add border radius for smoother edges */
    transition: color 0.3s, background-color 0.3s; /* smooth color and background color transition */
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    margin-left: 150px;
    margin-right: 150px;
}

.navbar a:hover {
    color: black; 
    background-color: #CF9FFF;
}
